/*
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
}*/
.forma{
    width: 800px;
    max-width: 100%;
    margin: auto;
    margin-top: 8px;
    padding: 20px;
    box-shadow: 0 0 20px 1 px rgba(32, 12, 87, 0.5);
    position: relative;
}
.forma__titulo{
    text-align: center;
    margin-top: 0;
    color: rgba(243, 205, 36, 0.7);
}
.forma__input,
.forma__inputR,
.forma__label
/*.forma__submit*/{
    display: block;
    width: 100%;
    font-size: 1.3em;
    text-align: left;
}
.forma__input,
.forma__inputR{
    padding: 20px;
    background: #f38d084d;
    border: 1px solid rgba(6, 7, 2, 0.3);
    margin-bottom: 40px;
    
}
.forma__inputR{
    direction: rtl;
    unicode-bidi: bidi-override;
    color: white;
    }
.forma__input:focus{
    outline: 1px solid rgba(0, 0, 0, 0.7);
    background: rgba(245, 143,10, 0.6);
    }
.forma__input:focus +
.forma__label{
    margin-top: -140px;
    }
.forma__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.forma__submit{
    background: rgba(245, 143, 10, 0.7);
    color: blue;
    padding: 10PX 20px;
    cursor: pointer;
    border-radius: 1%;
}
.fijar{
    margin-top: -140px;
}
.placeholder{
    color: rgba(255, 255, 255, 0.1);
}
:focus::-webkit-input-placeholder { color: rgba(225, 255, 255, 0.7) } 
::-webkit-input-placeholder{color:transparent;}