* {
    margin: 0;/*margen en 0*/
    padding: 0;/*padding en 0*/
    box-sizing: border-box;/*para que no se vea el borde*/
    text-decoration: none;/*para que no se vea el texto*/
    font-family: 'Roboto', sans-serif;/*fuente*/
}

body {
    /*background-image: url(../img/Polinesia.jpg);imagen de fondo*/
    background-image: url(../img/201-varejo.jpg);/*imagen de fondo*/
    background-size: cover;/*la imagen de fonndo abarca todo/
    background-repeat: no-repeat;/*no se repita la imagen de fondo*/
    background-attachment: fixed;/*para que se vea la imagen de fondo sea adj*/
    background-position: center;/*imagen de fondo centrada*/
    padding: 0px 0px 0px 0px;
}

main {
    width: 100%;/*ancho del main*/
    padding: 100px;/*espacio entre el main y el contenido*/
    margin: auto;/*para que el main se vea centrado*/
    margin-top: 100px;/*espacio entre el main y top*/

}
/*------------------------------------------------------*/
/* footer estilos*/
/*------------------------------------------------------*/
footer {
    width: 100%;/*ancho del footer*/
    background: rgba(0, 128, 255, 0.5);
    height: auto;/*alto del footer*/
    color: white;/*color del texto*/
    margin-left: 0px;/*espacio entre el footer y el contenido*/
    position: relative;/*para que se vea centrado*/
    cursor: pointer;/*para que se manito en el puntero del mouse*/
    margin-top: 50px;/*600px;/*espacio entre el footer y el contenido*/
    margin-bottom: 0px;/*espacio entre el footer y el contenido*/
    z-index: -1;/*para que se vea por abajo de todo*/
    text-align: left;/*alineacion del texto*/
    padding: 1em;/*espacio entre el footer y el contenido*/
    align-self: flex-end;


}
/*------------------------------------------------------*/
/* footer estilos*/
/*------------------------------------------------------*/
.tipo__footer {
    display: flex;/*para que se vea en forma de flex*/
    flex-wrap: wrap;
    justify-content: space-around;
   /*max-width: 100%;
    margin-top: 300px;*/
}
.box__footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.box__footer .logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
.box__footer .terms {
    max-width: 450px;/*ancho maximo del div terminos*/
    margin-top: 20px;/*espacio entre el div terminos y el contenido*/
    font-weight: 500;/*para que se vea mas grande*/
    color: aqua;/*color del texto*/
    font-size: 16px;/*tamaño del texto*/
    text-align:justify;/*alineacion del texto*/
	text-justify:inter-word;/*alineacion del texto*/
}
.box__footer h2 {
    margin-bottom: 30px;
    color: grey;
    font-weight: 700;
}
.box__footer a {
    margin-top: 10px;
    color: white;
    font-weight: 600;
}
.box__footer a:hover {
    color: #46a2fd;
}
.box__footer a .fab {
    font-size: 40px;
    margin-right: 20px;
}
.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px 20px;
}
.box__copyright hr {
    border: none;
    height: 1px;
    background: grey;
}

















/*--------------------------------------------------------------*/
/*Formularios Login*/
/*--------------------------------------------------------------*/
.contenedor__todo {
    width: 100%;/*ancho del main*/
    max-width: 1000px;/*ancho del main*/
    margin: auto;/*margen en 0*/
    position: relative;/*para que se vea el borde*/
    background-color:transparent;/*color de fondo*/
    min-height: 60vh;/*altura del contenedor*/


}
.caja__trasera {
    width: 100%; /*ancho de la caja trasera*/
    padding: 10px 20px;/*padding de la caja trasera*/
    display: flex;/*deja uno al lado del otro en forma horizontal*/
    border-radius: 20px;/*borde redondeado*/
    justify-content: center;/*centra el contenido*/
    /*backdrop-filter: blur(10px);/*para darle un efecto de blur*/
    background-color: rgba(0, 128, 255, 0.5);/*color de fondo caja trasera*/
}
.caja__trasera div { /*para centrar el contenido*/
    margin: 100px 140px; /*margen de la caja trasera*/
    color: white;/*color de texto*/
    transition: all 0.5s;/*transicion de tamaño*/
}
.caja__trasera div p,
.caja__trasera div button { 
    margin-top: 30px; /*margen de la caja trasera*/
}
.caja__trasera h3 {
    font-weight: 400;/*para que el texto sea mas fino */
    font-size: 26px;/*tamaño del texto*/
}
.caja__trasera button,
.button_vs{
    padding: 1px 1px; /*espacios de arriba y laterales*/
    border: 2px solid;/*para darle un borde al boton*/
    background: transparent;/*para que el boton sea transparente*/
    font-size: 15px;/*tamaño del texto */
    font-weight: 600;/*para que el texto sea caso bold*/
    cursor: pointer;/*para que el cursor sea una mano*/
    color: white;/*para que el texto sea mas liviano*/
    outline: none;/*para que el outline no se vea*/
    transition: all 0.4s;/*transicion de tamaño*/
    height: 46px;/*altura del boton de enviar*/
    width: 50%;/*ancho del boton de enviar*/
    min-width: 40%;/*ancho minimo del boton de enviar*/
    margin: 0 auto;
    display: fixed;
    line-height: 23px;
    text-align: center;
}
.caja__trasera button:hover,
.button_vs:hover {
    background: white;/*el fonfo del boton sea blanco al pasar el puntero*/
    color: #46a2fd;/*texto sera azul al pasar el puntero*/
}
.button_vs_r{
    padding: 1px 1px; /*espacios de arriba y laterales*/
    border: 2px solid;/*para darle un borde al boton*/
    background: transparent;/*para que el boton sea transparente*/
    font-size: 15px;/*tamaño del texto */
    font-weight: 600;/*para que el texto sea caso bold*/
    cursor: pointer;/*para que el cursor sea una mano*/
    color: #46a2fd;/*para que el texto sea mas liviano*/
    outline: none;/*para que el outline no se vea*/
    transition: all 0.4s;/*transicion de tamaño*/
    height: 46px;/*altura del boton de enviar*/
    width: 50%;/*ancho del boton de enviar*/
    min-width: 40%;/*ancho minimo del boton de enviar*/
    margin-left: 80px;
    margin: 0 auto;
    display: fixed;
    line-height: 23px;
    text-align: center;
}
.button_vs_r:hover {/*clase colores inversos para boton login*/
    background: #46a2fd;/*el fonfo del boton sea blanco al pasar el puntero*/
    color: white;/*texto sera azul al pasar el puntero*/
}

.contenedor__login {
    display: flex;/*deja uno al lado del otro en forma horizontal*/
    align-items: center;/*centra el contenido*/
    width: 100%;/*ancho del contenedor*/
    max-width: 380px;/*ancho maximo */
    position: relative;
    top: -200px;
    left: 10px;
    /*transition: left 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);/*transicion de tamaño*/
}
.contenedor__login form {
    width: 100%;/*ancho del formulario*/
    padding: 80px 20px;/*espacio entre el formulario y el contenido*/
    background: white;/*cambiar a blanco*/
    position: absolute;
    border-radius: 20px;/*borde redondeado*/
}
.contenedor__login form h2 {
    font-size: 30px;/*tamaño del texto*/
    text-align: center;/*alineacion del texto*/
    margin-bottom: 20px;/*espacio entre el texto y el contenido*/
    color: #46a2fd;/*color del texto*/
}

.contenedor__login input {
    margin-top: 20px;/*cambiar a 20px*/
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}
.contenedor__login form button {
    padding: 1px 1px; /*espacios de arriba y laterales*/
    margin-left: 80px;
}
.formulario__login {
    opacity: 1;/*para que se vea el formulario*/
    display: block;/*se ve el bloque*/
}


/*------------------------------------------------------*/
/*Formularios Registro*/
/*------------------------------------------------------*/
.contenedor__registro {
    display: flex;/*deja uno al lado del otro en forma horizontal*/
    align-items: center;/*centra el contenido*/
    width: 100%;/*ancho del contenedor*/
    top: 90px;/*posicion del contenedor con respecto a la parte superior*/
    left: 1px;/*posicion del contenedor con respecto a la parte izquierda*/
    right: 1px;/*posicion del contenedor con respecto a la parte derecha*/
    background-color: transparent;/*color de fondo*/
    min-height: 800px;/*altura del contenedor*/
}

.contenedor__registro form {
    width: 80%; /*ancho del contenedor*/
    padding: 10px 10px;/*Margenes de altura y laterales del formulario interiores*/
    /*background: rgba(240, 172, 172, 0.3); /*cambiar a blanco*/
    background-color: rgba(0, 128, 255, 0.5);
    top: 70%;/*centra el contenido*/
    left: 51%;/*centra el contenido*/
    position: absolute;
    transform: translate(-50%, -50%);/*centra el contenido*/
    box-sizing: border-box;/*para que no se vea el borde*/
    border-radius: 20px; /*borde redondeado*/
}
/*------------------------------------------------------*/
/*este contenedor es para el formulario de registro*/
/*no funciona todavia es para poner el borde en rojo*/
/*y aplicar abajo del intput algun requerimiento*/
.contenedor__registro .error_2 {
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 10px;
    color: red;
    padding-top: 2px;
    padding: 1px;
}
/*------------------------------------------------------*/
.formulario__registro {
    display: grid;/*para que se vea el formulario en grilla*/
    grid-template-columns: 1fr 1fr;/*dos columnas del formulario*/
    grid-gap: 10px;/*separacion entre columnas*/
}
.form__label {
    display: block;/*para que se vea el label*/
    font-weight: 600;/*para que el texto sea del tipo bold*/
    padding: 10px;/*para que el texto tenga margen del borde*/
    cursor: pointer;/*para que el cursor sea una mano*/
    font-size: 15px;/*para que el texto sea mas liviano*/
    color: white;/*para que el texto sea mas liviano*/
}
.form__grupo__input {
    position: relative;/*posiciona el campo delinput*/
}
.form__input {
    width: 100%;    /*ancho del input es completo de la columna*/
    background: gainsboro;
    border: 3px solid transparent;/*borde del input es de 3px pero ahora solo tranaparente */
    border-radius: 5px;/*borde redondeado*/
    height: 45px;/*altura del input*/
    line-height: 15px;/*Texto de altura de 45px*/
    padding: 0 40px 0 10px;/*margenes del input*/
    transition: .3s ease all;/*transicion de tamaño*/
    font-size: 15px;/*tamaño del texto*/
}
.form_validacion_status {/*para que se vea el icono de validacion*/
    position: absolute;/*posiciona el icono de validacion*/
    right: 10px;/*margen derecho del icono de validacion*/
    bottom: 15px;/*margen inferior del icono de validacion*/
    z-index: 10;/*posicion del icono de validacion*/
    font-size: 16px;/*tamaño del icono de validacion*/
    opacity: 0;/*opacidad del icono de validacion*/
}
.form__input:focus,
 .textarea_1:focus{
    border: 3px solid #46a2fd;    /*borde del input es de 3px ahora es azul*/
    outline: none;    /*para que el outline del navegador no se vea*/
    box-shadow: 0 0 5px rgba(163, 163, 163, 0.4); /*sombra del input*/
}
.form__input-error {
    font-size: 16px;/*tamaño del texto del mesaje de error */
     margin-bottom: 0px;/*margen inferior del texto del error*/
    display: none;
    color: red;
}
.form__input-error-activo {
    display: block; /*para que se vea el mensaje de error*/
}
.form__grupo-btn-enviar {
    display: flex;/*para que se vea el boton de enviar*/
    flex-direction: column;/*para que el boton de centre en la columna*/
    justify-content: center;/*para que el boton de centre en la columna*/
    align-items: center;/*para que el boton de centre en la columna*/
}
.form__btn-enviar {
    height: 45px;/*altura del boton de enviar*/
    line-height: 45px;/*altura del texto del boton de enviar*/
    width: 75%;/*ancho del boton de enviar*/
    background: #46a2fd;/*color de fondo del boton de enviar*/
    color: white;/*color del texto del boton de enviar*/
    font-size: 20px;/*tamaño del texto del boton de enviar*/
}
/*




/*------------------------------------------------------*/
/*inicio*/
/*------------------------------------------------------*/
.contenedor_inicio{
    font-family: 'Open Sans', sans-serif;/*tipo de letra de google*/
    max-width: 1300px;
    width: 90%;
    height: 1250px;
    margin: auto;
    /*background-color: rgba(0, 128, 255, 0.6);/*color de fondo caja trasera*/
    background-color: rgba(255, 255, 255, 0.6);/*color de fondo caja trasera*/
    margin-top: 100px;
    border-radius: 5px;
    padding: 20px;
}
.contenedor_inicio h2{
    font-size: 25px;
    color: white;
    text-align: left;
}
.contenedor_inicio h3{
    font-size: 25px;
    color: white;
    text-align: center;
}

.contenedor_inicio .imagenes_1{
    width: 100%;
    height: 850px;
    /*background-color: grey;*/
}
.contenedor_inicio .noticias{
    width: 100%;
    height: 38%;
    /*background-color: aquamarine;*/
    display: inline-block;/*para que se puedan ver en columnas*/
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    padding: 20px 20px 20px 20px;
  
}
.contenedor_inicio .imagenes_1 .novedades{
    display: flex;/*para que se puedan ver en columnas*/
    flex-direction: column;
    width: 78%;
    height: 550px;
    padding: 10px 10px;/*alejo el boton del borde del contenedor*/
    /*background-color: orange;*/

}

.contenedor_inicio .imagenes_1 .franquicias{
    width: 21%;/*ancho del listado de productos*/
    flex-direction: column;
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    padding: 10px 10px;/*alejo la imagen del borde del contenedor*/
    /*background-color: green;*/
    height: 550px;
}
.contenedor_inicio .imagenes_1 .franquicias img{
    width: 100%;
    height: 75px;
    align-items: center;

}
.contenedor_inicio .noticias h3{
    font-size: 25px;
    text-align: left;
    color: #46a2fd;
}
.contenedor_inicio .noticias .rellena {
    display: flex;/*para que se puedan ver en columnas*/
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    width: 2%;/*ancho de los botones de filtro*/
    height: 200px;
    /*background-color: yellow;*/
}
.contenedor_inicio .noticias .nota_1 {
    border: white solid 1px;
    color: white;
    background-color: rgba(0, 128, 255, 0.6);/*color de fondo caja trasera*/
    display: flex;/*para que se puedan ver en columnas*/
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    width: 30%;/*ancho de los botones de filtro*/
    height: 250px;
    margin-left: 30px;
    padding: 20px;
    /*background-color: rgba(245, 179, 13, 0.5)*/

}

.contenedor_inicio .noticias .nota_2{
    border: white solid 1px;
    color: white;
    background-color: rgba(0, 128, 255, 0.6);/*color de fondo caja trasera*/
    display: flex;/*para que se puedan ver en columnas*/
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    width: 30%;/*ancho del listado de productos*/
    /*background-color: pink;*/
    padding: 10px 25px;/*alejo la imagen del borde del contenedor*/
    height: 250px;
}
.contenedor_inicio .noticias .nota_3{
    border: white solid 1px;
    color: white;
    background-color: rgba(0, 128, 255, 0.6);/*color de fondo caja trasera*/
    display: flex;/*para que se puedan ver en columnas*/
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    width: 30%;/*ancho del listado de productos*/
    left: 20%;
    padding: 10px 25px;/*alejo la imagen del borde del contenedor*/
    /*background-color: green;*/
    height: 250px;
}
.contenedor_inicio .noticias .nota_3 texto_3{
    border: white solid 1px;
    color: white;
    background-color: rgba(0, 128, 255, 0.6);/*color de fondo caja trasera*/
    display: flex;/*para que se puedan ver en columnas*/
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    width: 30%;/*ancho del listado de productos*/
    left: 20%;
    padding: 10px 25px;/*alejo la imagen del borde del contenedor*/
    /*background-color: green;*/
    height: 250px;
}




























/*------------------------------------------------------*/
/*Formularios contacto*/
/*------------------------------------------------------*/
textarea{
    margin-bottom: 20px;
    width: 100%;/*ancho del textarea*/
    padding: 8px;/*margenes del textarea*/
    box-sizing: border-box;
    border: 1px solid blue;/*borde del textarea solido y de color azul*/
    outline: none;/*para que no se vea el recuadro en el textarea*/
    background-color: rgba(255, 255, 255, 0.8);/*color de fondo del textarea*/
    background: gainsboro;
    font-size: 15px;/*tamaño del texto del textarea*/
}
textarea{/*para que se vea el textarea*/
    resize: vertical;/*para que se vea vertical el textarea*/
    max-height: 200px;/*Maxima altura del textarea*/
    min-height: 100px;/*Minima altura del textarea*/
    border-radius: 5px;/*para que se vea redondeado el textarea*/
}
.textarea_1{
    border: 3px solid transparent;/*borde del textarea transparente*/
}
.contenedor__contacto {
    display: flex; /*deja uno al lado del otro en forma horizontal*/
    align-items: center;/*centra el contenido*/
    width: 100%;/*ancho del contenedor*/
    /*max-width: 800px;/*ancho maximo */
    top: 0px;
    left: 1px;
    right: 1px;/*posicion del contenedor con respecto a la parte derecha*/
    background-color: transparent;/*color de fondo*/
    height: 700px;/*altura del contenedor*/
}
.contenedor__contacto form {
    width: 75%;/*ancho del contenedor*/
    padding: 20px 10px;/*Margenes de altura y laterales del formulario interiores*/
    /*background: rgba(240, 172, 172, 0.3); /*cambiar a blanco*/
    background-color: rgba(0, 128, 255, 0.5);
    top: 65%;/*centra el contenido*/
    left: 50%;/*centra el contenido*/
    position: absolute;
    transform: translate(-50%, -50%);/*centra el contenido*/
    box-sizing: border-box;/*para que no se vea el borde*/
    border-radius: 20px;/*borde redondeado*/
}
.form__contacto {
    display: grid;/*para que se vea el formulario en formna de grilla*/
    grid-template-columns: 1fr 1fr;/*para que se vea el formulario tenga 2 columnas*/
    grid-gap: 20px;/*espacio entre columnas*/
}
.form_contacto__aviso {
    font-size: 16px;
    color: white;
    padding: 1px 1px;
    margin-bottom: 1px;
    grid-column: span 2;
    text-align: center;
}

.form__grupo{
    padding: 10px;
}








/*--------------------------------------------------------------*/
/*Responsive para tablet 768px                                  */
/*--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    main {
        margin-top: 150px;
    }
    /*------------------------------------------------------*/
    /*Formularios login*/
    /*------------------------------------------------------*/
    .contenedor__todo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        background-color: transparent;
        top: 1px;
        left: 0px;
    }
    .caja__trasera {
        display: none;
    }
    .contenedor__login {
        width: 400px;
        height: 400px;
        left: 1px;
    }
      .contenedor__login form {
        width: 100%;/*ancho del formulario*/
        top:  50px;
        padding: 30px 10px;/*espacio entre el formulario y el contenido*/
        background-color: rgba(0, 128, 255, 0.5);
        position: relative;
        border-radius: 20px;/*borde redondeado*/
    }
    .contenedor__login form button {
        color: rgba(255, 255, 255, 1);/*para que el texto sea mas liviano*/
        margin-top: 40px;
        margin-left: 100px;
    }
    /*------------------------------------------------------*/
    /*Formularios registro*/
    /*------------------------------------------------------*/
    .formulario__registro {
        display: block;/*vista del formulario unica columna*/
        }
    .contenedor__registro form {
        width: 55%; /*ancho del contenedor*/
        padding: 10px 10px;/*Margenes de altura y laterales del formulario interiores*/
        background-color: rgba(0, 128, 255, 0.5);
        top: 100%;/*centra el contenido*/
        left: 50%;/*centra el contenido*/
        position: absolute;
        transform: translate(-50%, -50%);/*centra el contenido*/
        box-sizing: border-box;/*para que no se vea el borde*/
        border-radius: 20px; /*borde redondeado*/
    }
    /*------------------------------------------------------*/
    /*Formularios contacto*/
    /*------------------------------------------------------*/
    .form__contacto {
        display: block;/*para que se vea el formulario en forma de columna*/
    }
    .contenedor__contacto form {
        width: 75%;/*ancho del contenedor*/
        top: 500px;/*centra el contenido*/
        min-width: 500px;/*ancho minimo*/
    }
}















/*--------------------------------------------------------------*/
/*Responsive para celulares 576px */
/*--------------------------------------------------------------*/
@media screen and (max-width: 576px) {
    main {
        margin-top: 0px;
    }
    /*------------------------------------------------------*/
    /*Formularios login*/
    /*------------------------------------------------------*/
    .contenedor__todo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        background-color: transparent;
        top: 1px;
        left: 0px;
    }
    .caja__trasera {
        display: none;
    }
    .contenedor__login form {
        width: 100%;/*ancho del formulario*/
        /*top:  50px;*/
        padding: 30px 10px;/*espacio entre el formulario y el contenido*/
        background-color: rgba(0, 128, 255, 0.5);
        position: absolute;
        border-radius: 20px;/*borde redondeado*/

        width: 80%;/*ancho del contenedor*/
        top: 200px;/*centra el contenido*/
        min-width: 300px;/*ancho minimo*/
    }
    .contenedor__login {
        width: 300px;
        height: 300px;
        left: 1px;
    }
    .contenedor__login form button {
        color: rgba(255, 255, 255, 1);/*para que el texto sea mas liviano*/
        margin-top: 0px;/*margen cero al borde de los inputs*/
        margin-left: 45px;/*distancia al borde del formulario boton centrado celu*/
        height: 45px;/*altura del boton de enviar*/
        width: 70%;/*ancho del boton de enviar para que texto no se encime*/
       
    }
    .contenedor__login form h2 {
        color: rgba(255, 255, 255, 1);/*color del texto*/
    }
    /*------------------------------------------------------*/
    /*Formularios registro*/
    /*------------------------------------------------------*/
    .formulario__registro {
        display: block;
    }
    .contenedor__registro {
        display: flex;/*deja uno al lado del otro en forma horizontal*/
        align-items: center;/*centra el contenido*/
        width: 100%;/*ancho del contenedor*/
        max-width: 800px;/*ancho maximo */
        top: 90px;/*posicion del contenedor con respecto a la parte superior*/
        left: 1px;/*posicion del contenedor con respecto a la parte izquierda*/
        right: 1px;/*posicion del contenedor con respecto a la parte derecha*/
        background-color:transparent;/*color de fondo*/
        min-height: 1200px;/*altura del contenedor*/
    }
    .contenedor__registro form {
        padding: 20px 10px;/*Margenes de altura y laterales del formulario interiores*/
        background-color: rgba(0, 128, 255, 0.5);
        left: 50%;/*centra el contenido*/
        position: relative;
        transform: translate(-50%, -50%);/*centra el contenido*/
        box-sizing: border-box;/*para que no se vea el borde*/
        border-radius: 20px; /*borde redondeado*/

        width: 90%;/*ancho del contenedor*/
        top: 580px;/*centra el contenido*/
        min-width: 250px;/*ancho minimo*/
}
    /*------------------------------------------------------*/
    /*Formularios contacto*/
    /*------------------------------------------------------*/
    .form__contacto {
        display: block;/*para que se vea el formulario en forma de columna*/
    }
    .contenedor__contacto {
        display: flex; /*deja uno al lado del otro en forma horizontal*/
        align-items: center;/*centra el contenido*/
        width: 100%;/*ancho del contenedor*/
        max-width: 800px;/*ancho maximo */
        top: 90px;
        left: 1px;
        right: 1px;/*posicion del contenedor con respecto a la parte derecha*/
        /*background-color: white;*/
    
        background-color:transparent;/*color de fondo*/
        min-height: 900px;/*altura del contenedor*/
    
    }
    .contenedor__contacto form {
        padding: 20px 10px;/*Margenes de altura y laterales del formulario interiores*/
        background-color: rgba(0, 128, 255, 0.5);
        left: 50%;/*centra el contenido*/
        position: absolute;
        transform: translate(-50%, -50%);/*centra el contenido*/
        box-sizing: border-box;/*para que no se vea el borde*/
        border-radius: 20px;/*borde redondeado*/

        width: 90%;/*ancho del contenedor*/
        top: 500px;/*centra el contenido*/
        min-width: 250px;/*ancho minimo*/
    }


}


