

.wrap{/*contenedor de los productos*/
    font-family: 'Open Sans', sans-serif;/*tipo de letra de google*/
    max-width: 1200px;
    width: 90%;
    margin: auto;
    background-color: rgba(0, 128, 255, 0.5);/*color de fondo caja trasera*/
    margin-top: 140px;
    border-radius: 20px;

}
.wrap h1{
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    margin: 15px 10px;
}
.wrap h1:after{
    content: '';
    width: 90%;
    height: 1px;
    background-color: white;
    margin: 20px 50px;
}

.store-wrapper{
    display: flex;/*para que se puedan ver en columnas*/
}
.category_list{/*hago que los filtros queden en columnas*/
    display: flex;/*para que se puedan ver en columnas*/
    flex-direction: column;
    width: 18%;/*ancho de los botones de filtro*/
    padding: 20px;/*alejo el boton del borde del contenedor*/
}
.category_list .category_item {
    display: block;
    width: 90%;
    padding: 10px 1px;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: white;/*para que el texto sea mas liviano*/
}
.category_list .category_item:hover{
    background-color: white;
    color: rgba(0, 128, 255, 0.5);
}
.category_list .ct_item-activo{
    background:rgba(0, 128, 255, 0.5)
}
/*------------------------------------------------------------*/
/*estilos de los productos*/
/*------------------------------------------------------------*/
.products-list{
    width: 82%;/*ancho del listado de productos*/
    display: flex;/*para que se puedan ver en columnas*/
    flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
    padding: 20px;/*alejo la imagen del borde del contenedor*/

}
.products-list .product-item{
    width: 22%;/*ancho de los productos*/
    margin-left: 3%;
    margin-bottom: 3%;
    box-shadow:  0px 0px 6px 0px rgba(0,0,0,0.22);
    display: flex;/*aca uno el cuadro de sombra con la imagen*/
    flex-direction: column;/*y la dejo unida*/
    transition: all 0.3s;
}
.products-list .product-item img{/*estableco estilos a la imagenes*/
    /*width: auto;/*ancho de la imagen*/
    max-width:100%;
    height: 200px;/*alto de la imagen*/
    object-fit: fill;/*para que se ajuste a la imagen*/
    border-radius: 4px;/*para que se vea redondeado*/
}

.products-list .product-item a{
    display: block;
    width: 100%;
    padding: 10px 0;
    background: grey;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.products-list .product-item .led{}
.products-list .product-item .dis{}
.products-list .product-item .tra{}
.products-list .product-item .ser{}
.products-list .product-item .gra{}

.wrap .nav-toggle2{ 
    padding: 1px 1px; /*espacios de arriba y laterales*/
    border: 2px solid;/*para darle un borde al boton*/
    background: transparent;/*para que el boton sea transparente*/
    font-size: 20px;/*tamaño del texto */
    font-weight: 600;/*para que el texto sea caso bold*/
    cursor: pointer;/*para que el cursor sea una mano*/
    color: white;/*para que el texto sea mas liviano*/
    outline: none;/*para que el outline no se vea*/
    transition: all 0.4s;/*transicion de tamaño*/
    height: 46px;/*altura del boton de enviar*/
    width: 50%;/*ancho del boton de enviar*/
    min-width: 40%;/*ancho minimo del boton de enviar*/
    margin: 0 auto;
    line-height: 23px;
    text-align: center;
    display: none;

}







/*--------------------------------------------------------------*/
/*Responsive para  1000px                                  */
/*--------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
    main {
        margin-top: 150px;
    }

    .products-list{
        width: 90%;/*ancho del listado de productos*/
        display: flex;/*para que se puedan ver en columnas*/
        flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
        padding: 20px;/*alejo la imagen del borde del contenedor*/
    
    }
    .products-list .product-item{
        width: 30%;/*ancho de los productos*/
        margin-left: 3%;
        margin-bottom: 3%;
        box-shadow:  0px 0px 6px 0px rgba(0,0,0,0.22);
        display: flex;/*aca uno el cuadro de sombra con la imagen*/
        flex-direction: column;/*y la dejo unida*/
        transition: all 0.3s;
    }

    .wrap h1:after{
    display: none;
    }
    .category_list{/*hago que los filtros queden en columnas*/
        flex-direction: column;
        margin-right: 8px;
        background-color: #034574;
        font-size: 12px;
        position: fixed;
        right: 0;
        top: 250px;
        width: 85%;
        padding: 0px 0;
        height: calc(100%-60px);
        overflow-y: auto;
        right: -900px;
        transition: 0.4s;
        display: block;
      }
      .category_list__visible{
        right: -10px;

    }
    .wrap .nav-toggle2{ 
        display: block;
    }


}
/*--------------------------------------------------------------*/
/*Responsive para  768px                                  */
/*--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    main {
        margin-top: 150px;
    }



    .products-list{
        width: 95%;/*ancho del listado de productos*/
        display: flex;/*para que se puedan ver en columnas*/
        flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
        padding: 20px;/*alejo la imagen del borde del contenedor*/
    
    }
    .products-list .product-item{
        width: 45%;/*ancho de los productos*/
        margin-left: 3%;
        margin-bottom: 3%;
        box-shadow:  0px 0px 6px 0px rgba(0,0,0,0.22);
        display: flex;/*aca uno el cuadro de sombra con la imagen*/
        flex-direction: column;/*y la dejo unida*/
        transition: all 0.3s;
    }
    .wrap h1:after{
        display: none;
    }
}

/*--------------------------------------------------------------*/
/*Responsive para celulares 576px */
/*--------------------------------------------------------------*/
@media screen and (max-width: 576px) {
    main {
        margin-top: 0px;
    }
    .products-list{
        width: 95%;/*ancho del listado de productos*/
        display: flex;/*para que se puedan ver en columnas*/
        flex-wrap: wrap; /*para que si superan el ancho padre se vea hacia abajo*/
        padding: 20px;/*alejo la imagen del borde del contenedor*/
    
    }
    .products-list .product-item{
        width: 90%;/*ancho de los productos*/
        margin-left: 9%;
        margin-bottom: 3%;
        box-shadow:  0px 0px 6px 0px rgba(0,0,0,0.22);
        display: flex;/*aca uno el cuadro de sombra con la imagen*/
        flex-direction: column;/*y la dejo unida*/
        transition: all 0.3s;
    }


    .category_list{/*hago que los filtros queden en columnas*/
        flex-direction: column;
        margin-right: 8px;
        background-color: #034574;
        font-size: 12px;
        position: fixed;
        right: 0;
        top: 170px;
        width: 100%;
        padding: 20px 0px 10px 0px;
        height: calc(100%-60px);
        overflow-y: auto;
        right: -600px;
        transition: 0.4s;
        display: block;
        align-items: center;
      }
      .category_list__visible{
        right: -8px;
    }

    .wrap .nav-toggle2{ 
        display: block;
    }
    
}