body
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        background: url(../img/fondo2.jpg);

        background-size: cover;
        background-attachment: fixed;/*dejo la imagen fija*/    
    }
.tabla1{
    padding: 5%;
}